/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Arial, sans-serif;
}

/* Header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: rgb(255, 0, 0) ; /* #333;*/
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px;
    z-index: 1000;
}

    header .title {
        font-size: 1.25rem;
    }

/* Hamburger */
.menu-toggle {
    width: 30px;
    height: 25px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

    .menu-toggle span {
        display: block;
        height: 3px;
        background: white;
        border-radius: 2px;
    }

/* Menu */
nav.menu {
    position: fixed;
    top: 60px;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: #444;
    display: flex;
    flex-direction: column;
    transition: height 0.3s ease;
    z-index: 999;
}

    nav.menu.open {
        height: 80vh; /* show menu */
    }

    nav.menu a {
        color: white;
        text-decoration: none;
        font-size: 1.5rem;
        padding: 15px 0;
        text-align: center;
        border-bottom: 1px solid #555;
    }

        nav.menu a:last-child {
            border-bottom: none;
        }

        nav.menu a:hover {
            background-color: #666;
        }



/* This is the main content */

main {
    margin-top: 60px;
    padding: 20px;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px 15px;
    box-sizing: border-box;
    border: 1px solid #ddd; /* light grey border */
    border-radius: 6px; /* rounded corners */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* subtle shadow */
    background-color: #fff; /* white background for contrast */
}

.container p{
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px 15px;
    box-sizing: border-box;
    border: 1px solid #ddd; /* light grey border */
    border-radius: 6px; /* rounded corners */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* subtle shadow */
    background-color: #fff; /* white background for contrast */
}

    .container h2 {
        width: 100%;
        max-width: 1200px;
        margin: 20 auto;
        padding: 20px 15px;
        box-sizing: border-box;
        border: 1px solid #ddd; /* light grey border */
        border-radius: 6px; /* rounded corners */
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1); /* subtle shadow */
        background-color: rgb(255, 0, 0); /*#fff;  white background for contrast */
        color: white;

    }


footer {
    margin-top: 60px;
    padding: 20px;
}


/* Responsive font size */
@media (max-width: 400px) {
    nav.menu a {
        font-size: 1.25rem;
    }
}
